body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  line-height: 1.8;
}

a {
  transition: color 0.3s linear, border 0.3s linear;
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #49bf9d;
}
a:hover {
  border-bottom: transparent;
}

p {
  margin: 0 0 2em;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #787878;
  margin: 1em 0; /* 1em é relativo ao tamanho da fonte, se tem 36px, 1em = 36px*/
}

sup,
sub {
  font-size: 12px;
}

blockquote {
  margin: 2em 0;
  border-left: 6px solid #efefef;
  padding: 0.5em 0 0.5em 1.5em;
}

code {
  background: #f7f7f7;
  border-radius: 0.35em;
  border: 2px solid #efefef;
  font-size: 0.9em;
  padding: 0.25em 0.65em;
  font-family: 'courier new', monospace;
  color: #929292;
}

pre code {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1.1em;
}

li {
  padding-left: 0.5em;
}

.ul-alternative {
  list-style-type: none;
  padding-left: 0;
}

.ul-alternative li {
  border-bottom: 2px solid #ccc;
  padding-left: 0;
}

.ul-alternative li:last-child {
  /*Ultima linha ficar sem borda*/
  border: 0;
}

.ul-icons {
  list-style-type: none;
  padding-left: 0;
}

.ul-icons li {
  display: inline-block;
  font-size: 2em;
  color: #49bf9d;
}

input,
label,
textarea,
select {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

input,
textarea,
select {
  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;
  border: 3px solid transparent;
  margin-bottom: 15px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 3px solid #49bf9d;
}

textarea {
  height: 10em;
}

.button-defaut {
  background-color: #49bf9d;
  border: #49bf9d 1px solid;
  color: white;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  font-size: 0.8em;
  display: inline-block;
  width: auto;
  cursor: pointer;
  transition: all 0.5s;
}

.button-defaut:hover {
  background-color: #61d1b1;
  border: transparent 1px solid;
}

.button-defaut-stroke {
  background-color: white;
  border-color: #efefef;
  color: inherit;
}

.button-defaut-stroke:hover {
  color: #49bf9d;
  background-color: white;
  border: #49bf9d 1px solid;
}

.button-defaut-small {
  font-size: 0.65em;
}

.button-defaut-big {
  border: 3px solid transparent;
  font-size: 1em;
}
.button-defaut-full {
  display: block;
  text-align: center;
}

.image-link {
  border: 0;
}

.table-defaut {
  width: 100%;
  margin: 0 0 2em 0;
  border-collapse: collapse;
  text-align: left;
}

.table-defaut td {
  padding: 0.75em;
}
.table-defaut th {
  background-color: #ccc;
  padding: 0.75em;
}

tbody td {
  border-bottom: 1px solid #ccc;
}

tbody tr:first-child td {
  border-top: 2px solid #666;
}

tbody tr:last-child td {
  border-bottom: 2px solid #666;
}
tbody tr:nth-child(even) td {
  background-color: #eee;
}

.table-alternative tbody td,
.table-alternative tbody tr:first-child td,
.table-alternative tbody tr:last-child td {
  border: 1px solid #ddd;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  padding: 124px 54px 72px;
  box-sizing: border-box;
  background: url(../images/overlay.png), url(../images/bg.jpg);
  background-position: auto, left top;
  background-size: auto, cover;
  text-align: right;
}

.title-header {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  line-height: normal;
}

.title-header strong {
  color: white;
  font-weight: normal;
}

.main-header-link {
  color: inherit; /*Herança do color do pai(title-header)*/
}

.main-header-link:hover {
  color: #49bf9d;
  text-decoration: none;
}

.main-content {
  width: 65%;
  margin-left: 35%;
  padding: 124px 54px 72px;
  box-sizing: border-box;
}

.main-header-link img {
  border-radius: 50%;
}

.recent-works-card img {
  border-radius: 10px;
}

.gallery-img img {
  width: 100%;
}

.gallery-thumb img,
.gallery-img img {
  margin-bottom: 2%;
  border-radius: 5px;
}

.main-footer {
  position: fixed;
  bottom: 0px;
  width: 35%;
  left: 0;
  padding: 0 54px 72px 0;
  box-sizing: border-box;
  text-align: right;
}

.main-footer a {
  border: none;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.5s;
}

.main-footer a:hover {
  color: #49bf9d;
}

.main-footer li {
  display: inline-block;
  list-style-type: none;
}

/* Grid */
.row {
  overflow: auto;
}

.colunas {
  width: 48%;
  float: left;
}
.colunas:first-child {
  margin-right: 2%;
}

.colunas:last-child {
  margin-left: 2%;
}

.coluna2de3 {
  width: 65%;
  float: left;
}

.coluna1de3 {
  width: 32%;
  float: left;
  /*margin-left: 3%;*/
}

.coluna1de3:nth-child(3n - 2) {
  margin-right: 2%;
  /*margin-left: 3%;*/
}

.coluna1de3:nth-child(3n) {
  margin-left: 2%;
  /*margin-left: 3%;*/
}

.coluna2de3 + .coluna1de3 {
  /*pega só a classe coluna1de3 que está depois de coluna2de3*/
  margin-left: 2%;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}
